* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 32px;
}

.container {
    width: 100vw;
    min-height: 500px;
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    width: 400px;
    height: 99px;
    text-align: center;
    color: white;
}

form select {
    width: 400px;
    height: 99px;
    text-align: center;
    color: white;
}

form button {
    width: 400px;
    height: 99px;
    text-align: center;
    color: white;    
}

p {
    margin: 40px;
    color: white;
    font-size: 64px;
}
#text { 
    color: pink;
}